---
title: Matthew Han
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Matthew Han</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="bio-pic">
            <div class="title-holder"><span class="about-me-title"></span></div>
        </div>
      </div>
      <div class="right-side" id="right-side">
        <div class="text">
          <div class="paragraph" id="paragraph">
              <p>
                3rd-year student at the University of Virginia, majoring in
                Computer Science and Studio Art.
              </p>
          </div>
          <div class="link-holder" id="link-holder">
              <div class="cv">View my <a href="https://drive.google.com/file/d/16C1KTCS71MpPB3KkYWjTaDVelAsMwxH3/view?usp=sharing" target="_blank">Resume here.</a></div>
              <div class="design-portfolio cv">
                View my <a href="www.google.com">Design work here.</a>
              </div>
              <div class="developer-portfolio cv">
                View my <a href="https://github.com/MatthewLeeHan" target="_blank">Developer work here.</a>
              </div>
              <div class="video-portfolio cv">
                Watch my <a href="https://www.youtube.com/user/TheMatt3337" target="_blank">Videos and films here.</a>
              </div>
          </div>
        </div>
        <div id="icons-holder" class="icons-holder">
          <div><a href="https://www.youtube.com/user/TheMatt3337" target="_"><img src="./assets/images/youtube.png" class="youtube"></a></div>
          <div><a href="https://github.com/MatthewLeeHan" target="_"><img src="./assets/images/github.png" class="github"></a></div>
          <div><a href="https://www.linkedin.com/in/matthewlhan/" target="_"><img src="./assets/images/linkedin_white_icon.png" class="linkedin"></a></div>
          <div><a href="https://www.instagram.com/mistahhan/" target="_"><img src="./assets/images/white_insta_icon.png" class="insta"></a></div>
        </div>
      </div>
    </div>
    {% include canvas.html %}
    <!-- <canvas></canvas> -->
    <script src="./assets/js/typed.js"></script>
    <script>
      var options = {
        strings: ["Student", "Developer", "Designer", "Videographer"],
        typeSpeed: 60,
        backSpeed: 60,
        backDelay: 700,
        loop: true
      };

      var typed = new Typed(".about-me-title", options);
    </script>
  </body>
  <!-- {% include canvas.html %} -->
  <script src="./assets/js/main.js"></script>
  <script src="./assets/js/canvas.js"></script>

</html>
