<!-- <nav>
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
</nav> -->
<header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <!-- <div class="menu-branding">
                <div class="portrait"></div>
            </div> -->
            <ul class="menu-nav">
                <!-- <li class="nav-item current">
                    <a href="main.html" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">
                        About Me
                    </a>
                </li>
                <li class="nav-item">
                    <a href="portfolio.html" class="nav-link">
                        Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">
                        Contact Me
                    </a>
                </li> -->
                {% for item in site.data.navigation %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
        </nav>
</header>