.container{
    // border: 1px solid white;
    width: 95%;
    height: calc(100% - 80px); //80px is height of header, accounting for that
    margin: 0 auto;
    display: flex;
    .left-side{
        // border: 1px solid white;
        flex: 1;
        .bio-pic{
            position: relative;
            width: 40vw;
            height: 40vw;
            // display: inline-block;
            background-image: url("../images/matthew.jpg");
            background-size: cover;
        }
        .about-me-title{
            color: #fff;
            font-size: 7vw;
            // margin-top: 0px;
            font-weight: 700;
            overflow: hidden;
        }
        .title-holder{
            position: absolute;
            // margin-top: -67px;
            // width: auto;
            // margin-left: 50px;
            bottom: -9vh;
            left: 3vw;
        }
    }
    .right-side{
        display: flex;
        .text{
            margin-top: 60px;
        }
        z-index: 9999; // HTML5 CANVAS BACKGROUND FIX
        // border: 1px solid white;
        flex: 1;
        .paragraph p{
            font-weight: 600;
            font-size: 2.5vw;
        }
        .link-holder{
            z-index: 9999; // HTML5 CANVAS BACKGROUND FIX
            font-size: 2vw;
            font-weight: 400;
            a{
                z-index: 9999; // HTML5 CANVAS BACKGROUND FIX
                font-weight: 600;
                color: $primary-teal;
            }
        }
    }
}
.typed-cursor {
    color: white;
    font-size: 7vw;
}