canvas {
  position: absolute;
}

.my_name {
  position: absolute;
  z-index: 2;
  top: 27px;
  left: 35px;
  color: #77ffbc;
  margin: 0px;
  padding: 0px;
}

main .bio-pic {
  width: 40vw;
  margin: 5rem 0 0 2rem;
  display: inline-block;
}

main .about-me-title {
  color: #fff;
  font-size: 90px;
  z-index: 3;
  margin-top: -68px;
  font-weight: bold;
  overflow: hidden;
}

main .title-holder {
  position: absolute;
  margin-top: -67px;
  width: auto;
  margin-left: 50px;
}

main .main-container {
  display: flex;
  align-items: center;
}
main .main-container .left-side {
  flex: 1;
}
main .main-container .right-side {
  flex: 1;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}
main .main-container .right-side .paragraph {
  font-size: 30px;
  margin-right: 100px;
}
main .main-container .right-side .cv {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
main .main-container .right-side .cv a {
  text-decoration: none;
  color: #77ffbc;
}

.typed-cursor {
  color: white;
  font-size: 80px;
}
