$primary-teal: #77FFBC;
$primary-font: "Poppins", sans-serif;
body{
    font-family: $primary-font;
    background-color: black;
    margin: 0;
    padding: 0;
}
.currentPage{
    color: $primary-teal;
}
canvas{
    z-index: -9;
}