$primary-teal: #77FFBC;
$primary-font: "Poppins", sans-serif;
$font-color: #fff;
html,body{
    font-family: $primary-font;
    color: $font-color;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%; //stack overflow suggested
}
h1{
    color: $primary-teal;
}
.currentPage{
    color: $primary-teal;
}
canvas{
    width: 100%;
    height: 100%;
    position:fixed;
    display: block;
    left:0;
    top:0;
}
.not-canvas *{
    z-index: 99; //HTML5 CANVAS VIDEO CLICKING FIX
}
a{
    text-decoration: none;
}