@media screen and (max-width: 1000px){
    .container{
        flex-direction: column;
        .bio-pic{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }

    .icons-holder{
        justify-content: center;
        margin: 0 auto;
    }
} 

// temp fix for weird tiny vertical scroll issue on laptop screen on mint?
@media screen and (min-width: 1350px){
    .container{
        overflow: hidden;
    }
}