
@mixin easeOut{
    transition: all 0.5s ease-out;
}

.menu-btn{
    position: absolute;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();
    z-index: 999; // HTML5 CANVAS BACKGROUND FIX

    .btn-line{
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: $primary-teal;
    }

    // rotate into X with menu lines
    &.close{
        transform: rotate(180deg);
        @include easeOut();

        .btn-line{
            //line 1 rotate 
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            //line 2 hide
            &:nth-child(2) {
                opacity: 0;
            }
            //line 3 rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }

  }

  .menu {
      position: fixed;
      top: 0;
      width: 100%;
      opacity: 0.9;
      visibility: hidden;
      z-index: 999; // HTML5 CANVAS BACKGROUND FIX


      &.show{
          visibility: visible;
          
      }

    //   &-branding, &-nav{
      &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center; // align vertically and horizontally to center
        float: left;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        
      }

      &-nav{
          margin: 0;
          padding: 0;
          list-style: none;
          transform: translate3d(100%, 0, 0);
          @include easeOut();

          &.show {
              // slide in from right from og position
              transform: translate3d(0, 0, 0);
          }
      }
      .nav-item{
        padding: 1rem 0;
        // &.current > a {
        //     color: $primary-teal;
        // }
        z-index: 9999; // HTML5 CANVAS BACKGROUND FIX

        .nav-link{
            text-decoration: none;
            font-family: $primary-font;
            color: #fff;
            font-size: 30px;
            font-weight: bolder;            
            @include easeOut();
            z-index: 9999; // HTML5 CANVAS BACKGROUND FIX
        }
      }

  }